@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');


.body{
    background: url(../assets/id_visual/background.png) no-repeat center center fixed;
    height: 100vh;
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .nav-g {
    background: #13BFF9;
}

.nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 34px;
    width: auto;
}

.nav__logo>img {
    width: 165px;
}

.nav__link-wrapper {
    display: none;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    margin: 0;
    align-items: center;
    padding-left: 0;
}
ul{
    list-style: none;
    width: 100%;
    display: flex;
}
li{
    margin-left: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-family: Open Sans;
}
.logo{
    position: relative;
    margin-right: auto;
}
.nav__link {
    list-style: none;
    padding: 10px;
}

.nav__link>a {
    padding: 10px 8px;
    font-size: 1rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav__link>a:hover {
    text-decoration: none;
    outline: none;
    color: #f1f1f1;
}

.nav__link-get-stated{
    margin-left: auto;
}

.btn__get-started {
    width: 165px;
    height: 48px;
    left: 1528px;
    top: 27px;
    color: #6F48EC;
    background: #FFD74F;
    box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;
}

.modal__full{
    background-color: rgba(35, 21, 82, 0.247);
}

.modal__card{
    background: #6A40E4;
    margin: 10px;
    border-radius: 4px;
    padding: 15px;
}

.modal__title{
    color: #f1f1f1;
    font-weight: 300; 
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;   
}

.modal__subtitle{
    color: #FFEAA4;
    font-size: 20pt;
    font-weight: 700; 
    font-family: 'Poppins', sans-serif;   
}

.input__login{
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.24);
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    color: #FFFFFF;
    padding: 10px;
    position: relative;
}

.input__login-label{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 191.68%;
    margin: 15px 0 3px 0;
}

.content__pass{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.input__login-password{
    position: relative;

}

.input-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 56px;
    width: fit-content;
    margin-left: auto;
    order: 1;
    position: absolute;
}

.icon__see-password{
    background: none;
    border: none;
    color: #BBA8F2;
    font-size: 20px;
}

#btn__close{
    color: #ffffff !important;
    font-size: 25px;
    font-weight: 300;
    background: #200E64;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -47px;
    margin-right: -47px;
}

.line-style-menu {
    height: 2px;
    width: 30%;
    margin: -10px 0 auto 8px;
    background: #FCF40B;
}

.nav__burger-button {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    margin: 0;
}

.nav__burger-button.to_right{
    margin-left: auto;
    background: #474747;
}

.nav__burger {
    position: relative;
    width: 40px;
    height: 24px;
}

.nav__burger-inner {
    display: block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: translate(0, 0);
    transition: all 0.3s;
    z-index: 2;
}

.nav__burger-inner:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform: translate(0, 0);
    transition: all 0.3s;
}

.nav__burger-inner:after {
    content: "";
    margin: 0;
    float: right;
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: translate(0, 0);
    transition: all 0.3s;
}

.nav__burger-inner:before {
    top: 10px;
    opacity: 1;
}

.nav__burger-inner:after {
    top: 20px;
}

.nav__burger-inner.active,
.nav__burger-inner.active:before,
.nav__burger-inner.active:after {
    background-color: white;
}

.nav__burger-inner.active {
    transform: translate(0, 10px) rotate(45deg);
}

.nav__burger-inner.active:before {
    opacity: 0;
    transform: translate(-6px, -2px) rotate(-45deg);
}

.nav__burger-inner.active:after {
    transform: translate(0, -20px) rotate(-90deg);
    /* width: 40px; */
}

@media (min-width: 0) and (max-width: 768px) {
    .nav__link>a {
        font-size: 2rem;
    }
    .nav__link-wrapper {
        width: 100%;
    }
    .nav__link-wrapper.expanded {
        display: flex;
        position: fixed;
        width: 100%;
        overflow: hidden;
        top: 150px;
        left: 0;
        flex-direction: column;
        justify-content: space-between;
        z-index: -1;
        flex-direction: column;
        font-size: 40px;
        color: white;
    }
    .nav__link-wrapper.expanded:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #200E64;
        z-index: -1;
        animation: fadeIn 0.3s 1;
    }
    
    .nav__link-wrapper.expanded li {
        opacity: 0;
        align-self: center;
    }
    .nav__link-wrapper.expanded li:nth-child(1) {
        animation: slideFadeIn 0.15s 1;
        animation-delay: 0.05s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper.expanded li:nth-child(2) {
        animation: slideFadeIn 0.15s 1;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper.expanded li:nth-child(3) {
        animation: slideFadeIn 0.15s 1;
        animation-delay: 0.15s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper.expanded li:nth-child(4) {
        animation: slideFadeIn 0.15s 1;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper.expanded li:nth-child(5) {
        animation: slideFadeIn 0.15s 1;
        animation-delay: 0.25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-get-stated{
        margin: 20px auto;
    }
    li{
        margin: 0;
    }
}

@media (min-width: 768px) {
    .nav__link-wrapper {
        display: flex;
    }
    .nav__link-wrapper.expanded:before {
        content: normal;
    }
    .nav__link-wrapper li {
        opacity: 0;
    }
    .nav__link-wrapper li:nth-child(1) {
        animation: slideFadeInAlt 0.15s 1;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper li:nth-child(2) {
        animation: slideFadeInAlt 0.15s 1;
        animation-delay: 0.05s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper li:nth-child(3) {
        animation: slideFadeInAlt 0.15s 1;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper li:nth-child(4) {
        animation: slideFadeInAlt 0.15s 1;
        animation-delay: -0.05s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__link-wrapper li:nth-child(5) {
        animation: slideFadeInAlt 0.15s 1;
        animation-delay: -0.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .nav__burger-button {
        display: none;
    }
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translate(-100px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slideFadeInAlt {
    0% {
        opacity: 0;
        transform: translate(50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}